<marquee>HOTELS FROM MUMBAI</marquee>

<div class="container-fluid" style="height: 350px; border-width: 10px;  background-color:lavender;">

    <div class="container-fluid" style="float: left; width: 600px;  margin-left:0px; margin-top: 20px;">
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="../../assets/images/mumbai4.jpg" alt="Random first slide" width="600" height="300"
                        style="margin-top: 25px;">
                </div>
                <div class="carousel-caption">
                    <h3>TAJ MAHAL PALACE</h3>
                    <p>India's First 5 Star Hotel</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="../../assets/images/mumbai1.jpg" alt="Random second slide" width="600" height="300"
                        style="margin-top: 25px;">
                </div>
                <div class="carousel-caption">
                    <h3>HALL</h3>
                    <p>Hall that makes you comfortable</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="../../assets/images/mumbai2.jpg" alt="Random third slide" width="600" height="300"
                        style="margin-top: 25px;">
                </div>
                <div class="carousel-caption">
                    <h3>Winery</h3>
                    <p>Best Drinks you would have from All over the Globe</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="../../assets/images/mumbai3.jpg" alt="Random third slide" width="600" height="300"
                        style="margin-top: 25px;">
                </div>
                <div class="carousel-caption">
                    <h3>Dining</h3>
                    <p>Royal Dining,Live life King Size</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="../../assets/images/mumbai6.jpg" alt="Random third slide" width="600" height="300"
                        style="margin-top: 25px;">
                </div>
                <div class="carousel-caption">
                    <h3>ROYALITY</h3>
                    <p>Rooms with Full Royal thoughts</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="../../assets/images/mumbai7.jpg" alt="Random third slide" width="600" height="300"
                        style="margin-top: 25px;">
                </div>
                <div class="carousel-caption">
                    <h3>ROYALITY</h3>
                    <p>Rooms with Full Royal thoughts</p>
                </div>
            </ng-template>
        </ngb-carousel>
       
    
    </div>
    <div style="float: left;margin-top: 40px; width: fit-content;">

        <h1>TAJ HOTEL MUMBAI</h1>

        <p

            style="font-family:Arial, Helvetica, sans-serif, Courier, monospace;font-style: italic   ; font-size: larger;">

            Luxury Room </p>

        <p> Price-15000/- (+GST)</p>

        <p> 24Hrs Stay</p>

        <p> Cancellation Price 10% Within 12Hrs of Booking</p>

        <p> BreakFast Available</p>

        <p> Smoking not allowed</p>
    </div>
    <div  style= "clear: both;position:relative;bottom:50px;">
    <button routerLink="/booking" type="button" class="btn btn-dark" style="float: right;">BOOK</button>
</div>
</div>

<div class="container-fluid" style="height: 350px; border-width: 10px;  background-color:#FAEBEA;">

    <div class="container-fluid" style="float:left; width: 600px;  margin-left:0px; margin-top: 20px;">
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="../../assets/images/mumbai5.jpg" alt="Random first slide" width="600" height="300"
                        style="margin-top: 25px;">
                </div>
                <div class="carousel-caption">
                    <h3>NOVOTEL MUMBAI</h3>
                    <p>One of the best Hotel in Mumbai</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="../../assets/images/mumbai00.jpg" alt="Random second slide" width="600" height="300"
                        style="margin-top: 25px;">
                </div>
                <div class="carousel-caption">
                    <h3>GATHERING</h3>
                    <p>Gather with your family</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="../../assets/images/mumbai12.jpg" alt="Random third slide" width="600" height="300"
                        style="margin-top: 25px;">
                </div>
                <div class="carousel-caption">
                    <h3>POOL-SIDE</h3>
                    <p>Get the best experience Around JUHU</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="../../assets/images/mumbai11.jpg" alt="Random third slide" width="600" height="300"
                        style="margin-top: 25px;">
                </div>
                <div class="carousel-caption">
                    <h3>ROYAL</h3>
                    <p>Royal Sitting where you can spend time with loved ones</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="../../assets/images/mumbai9.jpg" alt="Random third slide" width="600" height="300"
                        style="margin-top: 25px;">
                </div>
                <div class="carousel-caption">
                    <h3>ROYALITY</h3>
                    <p>Rooms with Full Royal thoughts</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="../../assets/images/mumbai8.jpg" alt="Random third slide" width="600" height="300"
                        style="margin-top: 25px;">
                </div>
                <div class="carousel-caption">
                    <h3>ROYAL-ROOMS</h3>
                    <p>Rooms with Full Royal thoughts</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <div style="float: left;margin-top: 40px; width: fit-content;">

        <h1>NOVOTEL MUMBAI</h1>

        <p

            style="font-family:Arial, Helvetica, sans-serif, Courier, monospace;font-style: italic   ; font-size: larger;">

            SUIT Room </p>

        <p> Price-12000/- (+ GST)</p>

        <p> 24Hrs Stay</p>

        <p> Cancellation Price 8% Within 12Hrs of Booking</p>

        <p> BreakFast Available</p>

        <p> Smoking not allowed</p>
    </div>

    <div style="clear: both;position:relative;bottom:50px;">

        <button type="button" class="btn btn-dark" style="float: right;">BOOK</button>

    </div>
</div>
<router-outlet></router-outlet>