form {
    width: 100%;
    position :center;
    z-index: 9;
    padding: 77px 61px 66px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }

h2 {
   text-align: center; 
   
}
.form-control {
    border: none;
    border-bottom: 1px solid #e6e6e6;
    display: block;
    width: 100%;
    height: 38px;
    background: none;
    padding: 3px 42px 0px;
    color: #666;
    font-family: "Muli-SemiBold";
    font-size: 16px; }
    .form-control::-webkit-input-placeholder {
      font-size: 14px;
      font-family: "Muli-Regular";
      color: #999;
      transform: translateY(1px); }
    .form-control::-moz-placeholder {
      font-size: 14px;
      font-family: "Muli-Regular";
      color: #999;
      transform: translateY(1px); }
    .form-control:-ms-input-placeholder {
      font-size: 14px;
      font-family: "Muli-Regular";
      color: #999;
      transform: translateY(1px); }
    .form-control:-moz-placeholder {
      font-size: 14px;
      font-family: "Muli-Regular";
      color: #999;
      transform: translateY(1px); }
    .form-control:focus {
      border-bottom: 1px solid #accffe; }

      .card{
          width: max-content;
          padding-left: 10%;
          padding-right: 60%;
         /*background-image: url("./../../assets/images/boxed-water-is-better-ivfdGY8C_rw-unsplash.jpg");
         background-size: 100%;
         background-attachment: fixed;*/
   
         
          
          
      }
      .container{
          padding-left: 40%; 
          padding-top: 10px ;
          
          
      }
