<section class="about-section mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center heading-section mb-5">
                <h2 class="text-black mb-2">Welcome To Maharashtra Tourism</h2>
                <p>
                    Maharashtra is a state in the western peninsular region of India occupying a substantial portion of the Deccan Plateau. As the home of the Marathi people, Maharashtra is the second-most populous state in India as well as the second-most populous country subdivision.
                </p>
            </div>
        </div>
        <div class="row img-wrap mb-5 mb-lg-10">
            <div class="col-12">
                <div class="row">
                    <div class="mb-4 margin-lg-0 col-lg-6 order-lg-2">
                        <a href="#" class="effect">
                            <img src="https://images.pexels.com/photos/1485630/pexels-photo-1485630.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt=""
                            class="img-fluid">
                        </a>
                    </div>
                <div class="col-lg-5 mr-auto text-lg-left align-self-center order-lg-1">
                <h2 class="text-black">Culture</h2>
                <p class="mb-4">
                    Maharashtra has rich culture and heritage. The Ganesh Festival or Ganesh Chaturthi celebrated in Maharashtra has its own identity in India and all over the world. There are numerous old temples of Hindu, Buddhist and Jain culture. These are great monuments of devotion and art. In Mumbai you can find famous churches and tombs.
                </p>
                <a href="#" class="btn btn-about">Read More</a>
            </div>
            </div>
            </div>
        </div>
        <!------->
        <div class="row img-wrap mb-5 mb-lg-10">
            <div class="col-12">
                <div class="row">
                    <div class="mb-4 margin-lg-0 col-lg-6 ">
                        <a href="#" class="effect">
                            <img src="https://images.pexels.com/photos/672630/pexels-photo-672630.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""
                            class="img-fluid">
                        </a>
                    </div>
                <div class="col-lg-5 ml-auto align-self-center order-lg-1">
                <h2 class="text-black">History</h2>
                <p class="mb-4">
                    Maharashtra was historically the name of a region which consisted of Aparanta, Vidarbha, Mulak, Assaka (Ashmaka) and Kuntala. ... For part of 17th century and most of 18th century, the region became a base for the Maratha Empire, which conquered large parts of India before being defeated by the British.
                </p>
                <a href="#" class="btn btn-about">Read More</a>
            </div>
            </div>
            </div>
        </div>
        <!------>
        
        <div class="row img-wrap mb-5 mb-lg-10">
            <div class="col-12">
                <div class="row">
                    <div class="mb-4 margin-lg-0 col-lg-6 order-lg-2">
                        <a href="#" class="effect">
                            <img src="https://images.pexels.com/photos/257360/pexels-photo-257360.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""
                            class="img-fluid">
                        </a>
                    </div>
                <div class="col-lg-5 mr-auto text-lg-left align-self-center order-lg-1">
                <h2 class="text-black">Nature</h2>
                <p class="mb-4">
                    Established with the aim to provide education and to generate awareness about Nature Conservation, Maharashtra Nature Park (MNP) with its wonderful settings and rich biodiversity makes ideal place for this purpose.
                </p>
                <a href="#" class="btn btn-about">Read More</a>
            </div>
            </div>
            </div>
        </div>
    </div>
</section>
