   
    <div class="card" style="float: left;">
        <div class="card bg-info mb-3" style="width: 37rem; margin-left: 100px ;margin-top: 30px;">
            <video width="592" controls>
                <source src="../../assets/videos/mumbai.mp4" type="video/mp4">
        
            </video>
            <div class="card-body">
              <h5 class="card-title" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">MUMBAI</h5>
              <p class="card-text">The Taj Mahal Palace Hotel, is a heritage, five-star, luxury hotel built in the Saracenic Revival style in the Colaba region of Mumbai, Maharashtra, India, situated next to the Gateway of India.Historically it was known as the "Taj Mahal Hotel" or simply "the Taj". The hotel is considered one of the finest hotels in the East since the time of the British Raj.</p>
              
            </div>
          </div>
        </div>
    
        <div style="float: left; padding-left: 2em;margin-top: 150px;">
            <img src="../../assets/images/png.png" width="600" height="250">
    
        </div>
    
    
        <div class="card" style="float: left;">
            <div class="card bg-success mb-3" style="width: 37rem; margin-left: 100px ;margin-top: 30px;">
                <video width="592" controls>
                    <source src="../../assets/videos/Kolhapur.mp4" type="video/mp4">
            
                </video>
                <div class="card-body">
                  <h5 class="card-title" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">KOLHAPUR</h5>
                  <p class="card-text">Kolhapur is mentioned in the Devi Gita, the final and key chapter of the Devi-Bhagavata Purana, a special text of Shaktism. Kolhapur is noted as a place of Kollamma worship.The first capital of the Shilaharas was probably at Karad during the reign of Jatiga-II as known from their copper plate grant of Miraj and 'Vikramankadevacharita' of Bilhana.</p>
                  
                </div>
              </div>
            </div>
        
            <div style="float: left; padding-left: 2em;margin-top: 150px;">
                <img src="../../assets/images/kolhapurpng.png" width="400" height="250" style="margin-left: 70px;">
        
            </div>
    
    
            <div class="card" style="float: left;">
                <div class="card bg-warning  mb-3" style="width: 37rem; margin-left: 100px ;margin-top: 30px;">
                    <video width="592" controls>
                        <source src="../../assets/videos/ajanta.mp4" type="video/mp4">
                
                    </video>
                    <div class="card-body">
                      <h5 class="card-title" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">AJNTA CAVES</h5>
                      <p class="card-text">The Ajanta Caves are approximately 30 rock-cut Buddhist cave monuments which date from the 2nd century BCE to about 480 CE in Aurangabad district of Maharashtra state of India.[1][note 1] The caves include paintings and rock-cut sculptures described as among the finest surviving examples of ancient Indian art, particularly expressive paintings that present emotions through gesture, pose and form.</p>
                      
                    </div>
                  </div>
                </div>
            
              
                   