
<div class="container" style="margin-top: 4%;">

  <div class="card-deck">
      <div class="card text-white bg-dark mb-3" style="width: 18rem;">
          <img src="/assets/images/mumbaigif.gif" class="card-img-top " width="500" height="230" >
          <div class="card-body">
            <h5 class="card-title">MUMBAI</h5>
            <p class="card-text">Mumbai is the capital city of the Indian state of Maharashtra.A resident of Mumbai is called Mumbaikar in Marathi.</p>
            <a  class="btn btn-warning" routerLink="/mumbaii">View Hotels</a>
          </div>
        </div>
  
 
      <div class="card text-white bg-dark mb-3" style="width: 18rem;">
          <img src="/assets/images/gifaj.gif" class="card-img-top " width= "500" height= "230">
          <div class="card-body">
            <h5 class="card-title">AJANTA CAVES</h5>
            <p class="card-text">They are universally regarded as masterpieces of Buddhist religious art.The caves were built in two phases, the first starting around the 2nd century.</p>
            <a href="#" class="btn btn-warning">View Hotels</a>
          </div>
        </div>
 
  
      <div class="card text-white bg-dark mb-3" style="width: 18rem;">
          <img src="/assets/images/konkan.gif" class="card-img-top"  width= "500" height= "230">
          <div class="card-body">
            <h5 class="card-title">KONKAN</h5>
            <p class="card-text">Konkan, also known as the Konkan Coast, is a rugged section of the western coastline of India. Konkan proceeds from the north at Damaon in the Gulf of Cambay.</p>
            <a href="#" class="btn btn-warning">View Hotels</a>
          </div>
        </div>
  
  

</div>

<div class="container" style="margin-top: 8%;">

  
      <div class="card-deck">
          <div class="card text-white bg-dark mb-3" style="width: 18rem;">
              <img src="/assets/images/kolhapur.jpg" class="card-img-top"  width= "500" height= "230">
              <div class="card-body">
                <h5 class="card-title">KOLHAPUR</h5>
                <p class="card-text">Kolhapur is a city in the Indian state of Maharashtra.It is the district headquarters of Kolhapur district. Prior to Indian Independence, Kolhapur was a nineteen gun salute, .</p>
                <a href="#" class="btn btn-warning">View Hotels</a>
              </div>
            </div>
     
      
          <div class="card text-white bg-dark mb-3" style="width: 18rem;">
              <img src="/assets/images/lonavala.gif" class="card-img-top " width="500" height="230">
              <div class="card-body">
                <h5 class="card-title">LONAVALA</h5>
                <p class="card-text">Lonavala is a hill station town and a Municipal Council in Pune district in the Indian State of Maharashtra.Lonavala is also home to INS Shivaji .</p>
                <a href="#" class="btn btn-warning">View Hotels</a>
              </div>
            </div>
      
     
          <div class="card text-white bg-dark mb-3" style="width: 18rem;">
              <img src="/assets/images/aurangabad.jpg" class="card-img-top"  width= "500" height= "230">
              <div class="card-body">
                <h5 class="card-title">AURANGABAD</h5>
                <p class="card-text">Aurangabad  is a city in the Indian state of Maharashtra. It is the administrative headquarters of Aurangabad district and is the largest city in the Marathwada region..</p>
                <a href="#" class="btn btn-warning">View Hotels</a>
              </div>
            </div>
      

</div>


